%section
  .row
    = render 'players/grid_stats'
    - team.players_by_game.each_with_index do |player, index|
      - if player.miss_next_game?
        = render 'players/injured_player', player: player, index: index + 1
      - else
        = render 'players/player', player: player, index: index + 1

%section
  .row
    .col-sm-4
      Re-Rolls:
      = team.re_rolls
    .col-sm-4
      Fan Factor:
      = team.fan_factor
    .col-sm-4
      Assistant Coaches:
      = team.assistant_coaches
    .col-sm-4
      Cheerleaders:
      = team.cheerleaders
    .col-sm-4
      Apothecaries:
      = team.apothecaries
%p
%section
  .row
    - if current_user.can_fire?(@team.active_players.first, current_community)
      = form_tag(fire_player_path, method: :post) do
        .col-sm-1
        .col-sm-3
          FIRE A PLAYER:
        .col-sm-4
          = collection_select(:player, :id, @team.active_players, :id, :full_name, { include_blank: true }, { class: "form-control"} )
        .col-sm-3
          = submit_tag "FIRE!", data: { confirm: "FIRE A PLAYER! Are you sure?" }, class: "btn btn-lg btn-block btn-blood"
        .col-sm-1
