.row
  = render 'players/grid_stats'
  - team.players.each_with_index do |player, index|
    - if player.miss_next_game?
      = render 'players/injured_player', player: player, index: index + 1
    - else
      = render 'players/player', player: player, index: index + 1

%section.assistant
  .reroll
    Re-Rolls:
    = team.re_rolls
  .fan-factor
    Fan Factor:
    = team.fan_factor
  .assistant_coaches
    Assistant Coaches:
    = team.assistant_coaches
  .cheerleaders
    Cheerleaders:
    = team.cheerleaders
  .Apothecaries
    Apothecaries:
    = team.apothecaries
