%section.container
  %h1
    = @team.name + ' - ' + @team.team.name + ' - ' + @team.user.name

  %h2
    Treasury:
    = @team.treasury

    Value:
    = @team.value

    = render 'team', team: @team

    %a.btn.btn-blood
      Hire Player

  = render  partial: '/layouts/small_modal'
