%section.container
  %h1
    = @team.name + ' - ' + @team.team.name + ' - ' + @team.user.name

  %h2
    Treasury:
    = @team.treasury

    Value:
    = @team.value

    = render 'team', team: @team

    - if @team.can_hire? && current_user.admin?(current_community) || current_user.owner_team?(@team)
      %a.btn.btn-blood{ href: new_team_player_path(team_id: params['id']) }
        Hire Player

  = render  partial: '/layouts/small_modal'
