%section
  .row.row-header
    .col-xs-1
      Position
    .col-xs-3
      Team Name
    .col-xs-1
      Points
    .col-xs-1
      Played
    .col-xs-1
      W/L/D
    .col-xs-1
      TD
    .col-xs-1
      Casualities
    .col-xs-1
      Comp
    .col-xs-1
      Injuries
    .col-xs-1
      Inter

  - @clasification.each_with_index do |team, index|
    .row.row-main
      .col-xs-1
        = index + 1
      .col-xs-3
        = link_to team.name, team_path(team)
      .col-xs-1
        = @championship.calculate_points_by(team)
      .col-xs-1
        = @championship.matches_played_by(team)
      .col-xs-1
        = "#{@championship.win_matches(team)}/#{@championship.lost_matches(team)}/#{@championship.draw_matches(team)}"
      .col-xs-1
        = @championship.calculate_of('touchdown', team)
      .col-xs-1
        = @championship.calculate_of('casualty', team)
      .col-xs-1
        = @championship.calculate_of('complention', team)
      .col-xs-1
        = @championship.calculate_of('injury', team)
      .col-xs-1
        = @championship.calculate_of('interception', team)

%br
%section
  .row
    - @championship.seasons.each do |season|
      .col-md-6
        .panel.panel-default
          .panel-body
            %h4
              Round:
              = season.round

            .row
              - season.matches.each do |match|
                - if match.can_validate?(current_user) && !match.finish?
                  .col-xs-9
                    .row
                      .col-xs-1
                        = image_tag asset_path("team_logos/#{match.host_team.team.name}.jpg"), height: 25
                      .col-xs-10
                        %a.match{ href: community_championship_match_path(id: match.id, championship_id: @championship.id, community_code: current_community.code) }
                          = match.finish? ? match.title_result : match.title
                      .col-xs-1
                        = image_tag asset_path("team_logos/#{match.visit_team.team.name}.jpg"), height: 25
                  .col-xs-3
                    %a.match.btn.btn-blood{ href: new_community_championship_match_feat_path(championship_id: @championship.id, match_id: match.id, community_code: current_community.code) }
                      Validate
                - else
                  .col-xs-12
                    .row
                      .col-xs-1
                        = image_tag asset_path("team_logos/#{match.host_team.team.name}.jpg"), height: 25
                      .col-xs-10
                        %a.match{ href: community_championship_match_path(id: match.id, championship_id: @championship.id, community_code: current_community.code) }
                          = match.finish? ? match.title_result : match.title
                      .col-xs-1
                        = image_tag asset_path("team_logos/#{match.visit_team.team.name}.jpg"), height: 25
