%section.container.validate
  %h1 Validate Match
  .row
    .col-sm-5
      %h2
        = @match.host_result.to_s + ' - ' + @match.host_team.name
    .col-sm-2
      %h2
        VS
    .col-sm-5
      %h2
        = @match.visit_team.name  + ' - ' +  @match.visit_result.to_s

  .row
    .col-sm-6
      = render 'feats', feats: @match.host_feats
    .col-sm-6
      = render 'feats', feats: @match.visit_feats

  .row
    .col-sm-6
      = render 'form', feat: @feat, players: @host_players
    .col-sm-6
      = render 'form', feat: @feat, players: @visit_players

  = render 'matches/finish', match: @match
