.row
  .col-md-6
    %section
      %h1 Match Sequence
      %ul
        %li
          %h2 Pre-Match Sequence
          %ul
            %li Roll on Wether Table
            %li Transfer Gold from Treasury to Pretty Catch
            %li Take Inducements
        %li
          %h2 The Match
          %ul
            %li Work out the number of Fans and FAME
            %li Receiving Team's Turn
            %li Kicking Team's Turn
            %li Etc...
        %li
          %h2 Post-Match Sequence
          %ul
            %li Improvement Rolls
            %li Update Team Roste
  .col-md-6
    %section
      %h1 Inducement List
      %ul
        %li Bloodweiser Babes (0-2) - 50,000 gold pieces
        %li Bribes (0-3) - 100,000 gold pieces
        %li Extra Team Training (0-4) - 100,000 gold pieces
        %li Halfling Master Chef (0-1) - 300,000 gold pieces
        %li Igor (0-1) - 100,000 gold pieces
        %li Mercenaries (Unlimited) - Various prices
        %li Star Players (0-2) - Various prices
        %li Wandering Apothecaries (0-2) - 100,000 gold pieces
        %li Wizards (0-1) - 150,000 gold pieces

.row
  %section
    %h1 Kick-off Table
    %ol{ start: '2'}
      %li
        %p
          %b Get the Ref:
          The fans exact gruesome revenge on the referee for some of the dubious decisions he has made, either during this match or in the past. His replacement is so intimidated that he can be more easily persuaded to look the other way. Each team receives 1 additional Bribe to use during this game. A Bribe allows you to attempt to ignore one call by the referee for a player who has committed a foul to be sent off, or a player armed with a secret weapon to be banned from the match. Roll a D6: on a roll of 2-6 the bribe is effective (preventing a turnover if the player was ejected for fouling), but on a roll of 1 the bribe is wasted and the call still stands! Each bribe may be used once per match.
      %li
        %p
          %b Riot:
          The trash talk between two opposing players explodes and rapidly degenerates, involving the rest of the players. If the receiving team’s turn marker is on turn 7 for the half, both teams move their turn marker back one space as the referee resets the clock back to before the fight started. If the receiving team has not yet taken a turn this half the referee lets the clock run on during the fight and both teams’ turn markers are moved forward one space. Otherwise roll a D6. On a 1-3, both teams’ turn markers are moved forward one space. On a 4-6, both team’s turn markers are moved back one space.
      %li
        %p
          %b Perfect Defence:
          The kicking team’s coach may reorganize his players – in other words he can set them up again into another legal defence. The receiving team must remain in the set-up chosen by their coach.
      %li
        %p
          %b High Kick:
          The ball is kicked very high, allowing a player on the receiving team time to move into the perfect position to catch it. Any one player on the receiving team who is not in an opposing player’s tackle zone may be moved into the square where the ball will land no matter what their MA may be, as long as the square is unoccupied.
      %li
        %p
          %b Cheering Fans:
          Each coach rolls a D3 and adds their team’s FAME (see page 18) and the number of cheerleaders on their team to the score. The team with the highest score is inspired by their fans' cheering and gets an extra re-roll this half. If both teams have the same score, then both teams get a re-roll.
      %li
        %p
          %b Changing Weather:
          Make a new roll on the Weather table (see page 20). Apply the new Weather roll. If the new Weather roll was a ‘Nice’ result, then a gentle gust of wind makes the ball scatter on
      %li
        %p
          %b Brilliant Coaching:
          Each coach rolls a D3 and adds their FAME (see page 18) and the number of assistant coaches on their team to the score. The team with the highest total gets an extra team re-roll this half thanks to the brilliant instruction provided by the coaching staff. In case of a tie both teams get an extra team re-roll.
      %li
        %p
          %b Quick Snap!
          The offence start their drive a fraction before the defence is ready, catching the kicking team flat-footed. All of the players on the receiving team are allowed to move one square. This is a free move and may be made into any adjacent empty square, ignoring tackle zones. It may be used to enter the opposing half of the pitch
      %li
        %p
          %b Blitz!
          The defence start their drive a fraction before the offence is ready, catching the receiving team flat-footed. The kicking team receives a free ‘bonus’ turn: however, players that are in an enemy tackle zone at the beginning of this free turn may not perform an Action. The kicking team may use team re-rolls during a Blitz. If any player suffers a turnover then the bonus turn ends immediately.
      %li
        %p
          %b Throw a Rock:
          An enraged fan hurls a large rock at one of the players on the opposing team. Each coach rolls a D6 and adds their FAME (see page 18) to the roll. The fans of the team that rolls higher are the ones that threw the rock. In the case of a tie a rock is thrown at each team! Decide randomly which player in the other team was hit (only players on the pitch are eligible) and roll for the effects of the injury straight away. No Armour roll is required.
      %li
        %p
          %b Pitch Invasion:
          Both coaches roll a D6 for each opposing player on the pitch and add their FAME (see page 18) to the roll. If a roll is 6 or more after modification then the player is Stunned (players with the Ball & Chain skill are KO'd). A roll of 1 before adding FAME will always have no effect.

.row
  %section
    %h1 Weather Table
    %ol{ start: '2'}
      %li
        %p
          %b Sweltering Heat:
          It’s so hot and humid that some players collapse from heat exhaustion. Roll a D6 for each player on the pitch at the end of a drive. On a roll of 1 the player collapses and may not be set up for the next kick-off.
      %li
        %p
          %b Very Sunny:
          A glorious day, but the blinding sunshine causes a -1 modifier on all passing rolls.
      %li
        %p
          = "- 10."
          %b Nice:
          Perfect Blood Bowl weather.
      %li{ value: '11'}
        %p
          %b Pouring Rain:
          It’s raining, making the ball slippery and difficult to hold. A -1 modifier applies to all catch, intercept, or pick-up rolls.
      %li
        %p
          %b Blizzard:
          It’s cold and snowing! The ice on the pitch means that any player attempting to move an extra square (GFI) will slip and be Knocked Down on a roll of 1-2, while the snow means that only quick or short passes can be attempted.

%section
  %h1 Skills By Categories
  %h2 General
  .row
    - @skills.by_category('General').map do |skill|
      .col-xs-6.col-sm-2
        %a.js-skill{ data: { skill: { id: skill.id }}}
          = skill.name
  %h2 Agility
  .row
    - @skills.by_category('Agility').map do |skill|
      .col-xs-6.col-sm-2
        %a.js-skill{ data: { skill: { id: skill.id }}}
          = skill.name
  %h2 Passing
  .row
    - @skills.by_category('Passing').map do |skill|
      .col-xs-6.col-sm-2
        %a.js-skill{ data: { skill: { id: skill.id }}}
          = skill.name
  %h2 Strength
  .row
    - @skills.by_category('Strength').map do |skill|
      .col-xs-6.col-sm-2
        %a.js-skill{ data: { skill: { id: skill.id }}}
          = skill.name
  %h2 Mutation
  .row
    - @skills.by_category('Mutation').map do |skill|
      .col-xs-6.col-sm-2
        %a.js-skill{ data: { skill: { id: skill.id }}}
          = skill.name
  %h2 Extraordinary
  .row
    - @skills.by_category('Extraordinary').map do |skill|
      .col-xs-6.col-sm-2
        %a.js-skill{ data: { skill: { id: skill.id }}}
          = skill.name
