.row.row-main.row-main-create.js-player
  .col-sm-4
    .row
      %strike.field.col-xs-2.col-sm-1.number
        = index
      %strike.field.col-xs-3.col-sm-2
        = player.dorsal
      %strike.field.col-xs-3.col-sm-4.name
        = image_tag asset_path('injury.jpg'), width: 20
        = player.name
      %strike.field.col-xs-3.col-sm-5.player
        = player.title
  .col-sm-4
    .row
      %strike.field.col-xs-2.col-sm-2.ma
        = player.ma
      %strike.field.col-xs-2.col-sm-2.st
        = player.st
      %strike.field.col-xs-2.col-sm-2.ag
        = player.ag
      %strike.field.col-xs-2.col-sm-2.av
        = player.av
      %strike.field.col-xs-2.col-sm-4.cost
        = player.cost
  .col-sm-4
    .row
      %strike.field.col-xs-6.col-sm-8.skill
        - player.skill_templates.each do |skill|
          %a.js-skill{ data: { skill: { id: skill.id }}}
            = skill.name
          ,
      %strike.field.col-xs-2.col-sm-2.niggling_injury
        = player.niggling_injury
      %strike.field.col-xs-2.col-sm-2.experience
        = player.experience
        - if player.level_up?
          %a#level-up{ href: '/'}
            = image_tag asset_path('level_up.png')
