.row.row-main.row-main-create.js-player
  .col-sm-4
    .row
      .field.col-xs-2.col-sm-1.number
        = index
      .field.col-xs-3.col-sm-2
        = player.dorsal
      .field.col-xs-3.col-sm-4.name
        - if current_user.admin?(current_community) || current_user.owner_team?(player.team)
          = link_to player.name, edit_player_path(player)
        - else
          = player.name
      .field.col-xs-3.col-sm-5.player
        = player.title
  .col-sm-4
    .row
      .field.col-xs-2.col-sm-2.ma
        = player.ma
      .field.col-xs-2.col-sm-2.st
        = player.st
      .field.col-xs-2.col-sm-2.ag
        = player.ag
      .field.col-xs-2.col-sm-2.av
        = player.av
      .field.col-xs-2.col-sm-4.cost
        = player.cost
  .col-sm-4
    .row
      .field.col-xs-6.col-sm-8.skill
        - player.skill_templates.each do |skill|
          %a.js-skill{ data: { skill: { id: skill.id }}}
            = skill.name
          ,
      .field.col-xs-2.col-sm-2.niggling_injury
        - if player.niggling_injury == 1
          = image_tag asset_path('niggly_injury.png'), width: 20
        - elsif !player.niggling_injury.zero?
          = image_tag asset_path('niggly_injury.png'), width: 20
          = "x#{player.niggling_injury}"
      .field.col-xs-2.col-sm-2.experience
        - if !player.experience.zero?
          = player.experience
          - if player.level_up? && current_user.can_level_up?(player, current_community)
            %a#level-up{ href: edit_player_path(id: player.id) }
              = image_tag asset_path('level_up.png')
          - elsif player.level_up? && !current_user.can_level_up?(player, current_community)
            %a#level-up{ href: edit_player_path(id: player.id) }
              = image_tag asset_path('level_up.png')
