= form_for @match, 'Finish the Match', {action: 'finish', controller: 'matches', championship_id: params['championship_id'], id: params['match_id'] }, :method=>:post, class: 'btn btn-lg btn-blood') do |f|
  - if @match.errors.any?
    %h2
      = pluralize(@match.errors.count, 'error')
      prohibited this team from being saved:

    %ul
      - @match.errors.full_messages.each do |message|
        %li
          = message

  .form-group
    = f.label :player_id, 'Player'
    = f.collection_select(:player_id, @players, :id, :name, {},{class: 'form-control'} )

  .form-group.js-kind
    = f.label :kind
    = f.select(:kind, options_for_select(Feat::FEATS), { include_blank: true }, class: 'form-control js-kind-selector' )

  .form-group.js-casuality
    = f.label :casuality
    = f.select(:casuality, options_for_select(Feat::CASUALITIES), { include_blank: true }, class: 'form-control js-casuality-selector', disabled: true )

  .actions
    = f.submit 'Validate', class: 'btn btn-lg btn-blood'
