%section.container
  %h1
    = @match.title

  %h2
    = @host_team.value.to_s + ' VS ' + @visit_team.value.to_s

  = render 'teams/team', team: @host_team
  %br
  = render 'teams/team', team: @visit_team

= render partial: '/layouts/small_modal'
