%section.container
  %h1
    = @match.title

  %h2
    = @match.host_team.value.to_s + ' VS ' + @match.visit_team.value.to_s

  = render 'teams/team', team: @match.host_team
  %br
  = render 'teams/team', team: @match.visit_team

%section.container
  - if @match.finish?
    %h1 Treasury collection
    .row
      .col-sm-6
        %h3
          Host Team Treasury: +
          = @match.host_team_treasury
      .col-sm-6
        %h3
          Visit Team Treasury: +
          = @match.visit_team_treasury
    %h1 Fan Factor Roll Dices
    .row
      .col-sm-6
        %h3
          Host Team Fan Factor Roll:
          = @match.host_team_fan_factor
      .col-sm-6
        %h3
          Visit Team Fan Factor Roll:
          = @match.visit_team_fan_factor
    %h1 Feats
    .row
      .col-sm-6
        %h2
          = @match.host_team.name
        = render 'feats/feats', match: @match, feats: @match.host_feats
      .col-sm-6
        %h2
          = @match.visit_team.name
        = render 'feats/feats', match: @match, feats: @match.visit_feats
