%section.container
  .row
    .col-md-8
      %h1.col-md-8
        = @community.name
    .col-md-4
      - if current_user.admin?(current_community)
        %a.btn.btn-lg.btn-primary.btn-block.btn-create-championship{ href: new_community_championship_path(community_code: current_community.code) }
          Create a Championship
  .row
    .col-md-12
      %h2 Current Championships:
  .row
    - @championships.each do |championship|
      .col-md-8
        %ul.list-unstyled
          %li{ data: { championship: championship.id } }
            %h2
              %a{ href: community_championship_path(id: championship.id, community_code: current_community.code) }
                = championship.name  + " " + championship.kind
      .col-md-4
        - if current_user.free_teams.present? && !championship.start
          .form-group
            = form_for(championship, as: championship, url: join_community_championship_path(community_code: current_community.id, id: championship.id), html: { method: :post, class: 'form-signin' } ) do |f|
              .row
                .field.col-md-8
                  = f.label :team_ids, class: 'sr-only'
                  = f.collection_select(:team_ids, current_user.free_teams, :id, :name, { include_blanck: true }, class: 'form-control')

                .actions.col-md-4
                  = f.submit "Join Team", class: "btn btn-primary"
  -# .row
  -#   .col-md-12
  -#     %h2 Players with more Touchdowns:
  -#     %ul.list-unstyled
  -#       - @championships.each do |championship|
  -#         %li{ data: { championship: championship.id } }
  -#           %h2
  -#             %a{ href: community_championship_path(id: championship.id, community_code: current_community.code) }
  -#               = championship.name  + " " + championship.kind
